<%= form_with(model: @team, local: true) do |form| %>

  <% if @team.errors.any? %>
   <div id="error_explanation">
     <h2><%= @team.errors.count %>件のエラーがあります。</h2>
     <ul>
     <% @team.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
  <% end %>

  <div class="team_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="team_feature">
    <%= form.collection_check_boxes(:feature_ids, Feature.all, :id, :label) %>
  </div>

  <%= form.submit %>

<% end %>
