<h2>募集一覧</h2>
<%= link_to '募集作成', new_invite_path %><br>
<%= search_form_for @q do |f| %>
  <%= f.label :label, "特徴検索" %>
  <%= f.select :team_features_label_cont, options_from_collection_for_select(Feature.all, :label, :label , 1) %>
  <%= f.submit "検索" %>
<% end %>

<% @invites.each do |invite| %>
  <% if invite.status == true %>
    <p>チーム名 : <%= invite.team.name %></P>
    <p>特徴 : <% invite.team.features.each do |feature| %>
      <%= feature.label %>
    <% end %></P>
    <p>希望開始日時 : <%= invite.match_day.strftime('%Y/%m/%d %H:%M') %></P>
    <p>会場 : <%= invite.place %></P>
    <p>詳細 : <%= invite.detail %></P>
    <%= link_to '詳細', invite %><br><br>
  <% end %>

<% end %>
