<section class="section">
  <div class="container">
    <div class="columns is-centered has-text-centered">
      <div class="column is-5">
        <div class="title">
        <% if @conversation.recipient_id == current_user.id %>
          <%= User.find(@conversation.sender_id).name %>
        <% else %>
          <%= User.find(@conversation.recipient_id).name %>
        <% end %>
      </div>
        <% if @over_ten %>
        <%= link_to '以前のメッセージ', '?m=all', class: "button is-info" %>
        <% end %><br><br>
        <div class="ui segment">
          <% @messages.each do |message| %>
          <% if message.body.present? %>
          <% if message.user.id == current_user.id %>
            <div class="box2 has-text-left">
          <% else %>
            <div class="box2 has-text-right">
          <% end %>
              <div class="item">
                <div class="content">

                  <% if message.user.id == current_user.id %>
                    <div class="header"><strong><%= message.user.name %></strong> <%= message.message_time %></div>
                  <% else %>
                    <div class="header"><%= message.message_time %>   <strong><%= message.user.name %></strong></div>
                  <% end %>

                  <% if message.user.id == current_user.id %>
                    <div class="list">
                      <div class="item">
                        <!-- <i class="right triangle icon"></i> -->
                        <% if message.user == current_user %>
                          <%= message.body %>
                          <%= message.read ? '既読' : '未読' %>
                        <% end %>
                      </div>
                    </div>
                  <% else %>
                    <div class="list">
                      <div class="item">
                        <!-- <i class="right triangle icon"></i> -->
                        <%= message.body %>
                      </div>
                    </div><br>
                  <% end %>
                </div>
              </div>
            </div><br>
            <% end %>
            <% end %>
          </div>

          <div class="box2 has-text-centered mt-6">
            <%= form_with(model: [@conversation, @message]) do |f| %>
              <div class="field">
                <%= f.text_area :body, class: "form-control textarea is-black" %>
              </div>
            <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
              <div class="actions has-text-centered">
                <%= f.submit "メッセージを送る", class: "button is-success" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
