<div class="title has-text-centered mt-6">
  <h2><%= t('.title', resource: resource.model_name.human) %></h2>
</div>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="user-name">
          <%= f.label :name %>
          <p class="control has-icons-left">
            <%= f.text_field :name, autofocus: true, placeholder: "name", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :email %>
          <p class="control has-icons-left">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
          <p class="control has-icons-left">
            <%= f.password_field :password, autocomplete: "new-password", :placeholder => "password", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
          <% if @minimum_password_length %>
          <br />
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <p class="control has-icons-left">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "password confirmation", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
          <p class="control has-icons-left">
            <%= f.password_field :current_password, autocomplete: "current_password", :placeholder => "password", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="actions has-text-centered mt-3">
          <%= link_to t('devise.shared.links.back'), :back, class: "button is-primary is-light is-outlined" %>
          <%= f.submit t('.update'), class: "button is-info is-light is-outlined" %>
        </div>
        <% end %>

        <div class="actions has-text-centered mt-1">
          <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: "button is-danger is-light is-outlined" %>
        </div>

      </div>
    </div>
  </div>
</section>
