<div class="title has-text-centered mt-6">
  <h2><%= t('.sign_in') %></h2>
</div>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <div class="box2">

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="session_email">
            <%= f.label :email %>
            <p class="control has-icons-left">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "input is-black" %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div><br>

          <div class="session_password">
            <%= f.label :password %>
            <p class="control has-icons-left">
              <%= f.password_field :password, autocomplete: "new-password", :placeholder => "password", class: "input is-black" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>

          <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <% end %>

          <div class="actions actions has-text-centered mt-5">
            <%= f.submit t('.sign_in'), class: "button is-info", id: "sign_in" %>
          </div>
          <% end %>

          <!-- <%= render "devise/shared/links" %> -->
        </div>
      </div>
    </div>
    <div class="columns is-centered mt-6">
      <div class="column is-6 has-text-centered">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.hidden_field :email, value: 'testuser@example.com' %>
            <%= f.hidden_field :password, value: 'testuser' %>
            <%= f.submit 'テストユーザーでログイン', class: 'button is-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
